# List of the busiest airports in Europe

In [10]:
import pandas as pd

In [11]:
# URL
url = "https://en.wikipedia.org/wiki/List_of_the_busiest_airports_in_Europe"

In [12]:
# Read table
tables = pd.read_html(url, header=None)

# Specifiy table
airports_table = tables[1]

print(airports_table.head(5))

  Rank 2023 Rank change 2022–2023          Country  \
  Rank 2023 Rank change 2022–2023          Country
0         1                     1  United Kingdom1
1         2                     1          Turkey1
2         3                   NaN          France1
3         4                   NaN     Netherlands1
4         5                   NaN           Spain1

                                Airport City served        Passengers  \
                                Airport City served              2023
0                      Heathrow Airport      London     79,151,723[1]
1                      Istanbul Airport    Istanbul     76,236,980[3]
2             Charles de Gaulle Airport       Paris  67,421,316[5][6]
3            Amsterdam Airport Schiphol   Amsterdam     61,889,586[8]
4  Adolfo Suárez Madrid–Barajas Airport      Madrid    60,220,984[10]

                  Change Δ 2023/2022
             2022                  %      People
0   61,611,838[2]               28.5  17539885.0
1   64,486,178[4]               18.2  11750802.0
2   57,474,033[7]               17.3   9947283.0
3   52,472,188[9]               17.9   9417398.0
4  50,633,759[11]               18.9   9587225.0

In [13]:
airports_table.columns = airports_table.iloc[0]  


# Reset index
airports_table.reset_index(drop=True, inplace=True)

airports_table.head()

,1,1,United Kingdom1,Heathrow Airport,London,"79,151,723[1]","61,611,838[2]",28.5,17539885.0
0,1,1,United Kingdom1,Heathrow Airport,London,"79,151,723[1]","61,611,838[2]",28.5,17539885.0
1,2,1,Turkey1,Istanbul Airport,Istanbul,"76,236,980[3]","64,486,178[4]",18.2,11750802.0
2,3,NaN,France1,Charles de Gaulle Airport,Paris,"67,421,316[5][6]","57,474,033[7]",17.3,9947283.0
3,4,NaN,Netherlands1,Amsterdam Airport Schiphol,Amsterdam,"61,889,586[8]","52,472,188[9]",17.9,9417398.0
4,5,NaN,Spain1,Adolfo Suárez Madrid–Barajas Airport,Madrid,"60,220,984[10]","50,633,759[11]",18.9,9587225.0

In [14]:
# Assuming airports_table is already cleaned and has correct columns
airports_table.columns = [
    "Rank", "Rank change", "Country", "Airport", "City served",
    "Passengers 2023", "Passengers 2022", "Change %", "Change People"
]

# Display the updated DataFrame
airports_table.head(5)

,Rank,Rank change,Country,Airport,City served,Passengers 2023,Passengers 2022,Change %,Change People
0,1,1,United Kingdom1,Heathrow Airport,London,"79,151,723[1]","61,611,838[2]",28.5,17539885.0
1,2,1,Turkey1,Istanbul Airport,Istanbul,"76,236,980[3]","64,486,178[4]",18.2,11750802.0
2,3,NaN,France1,Charles de Gaulle Airport,Paris,"67,421,316[5][6]","57,474,033[7]",17.3,9947283.0
3,4,NaN,Netherlands1,Amsterdam Airport Schiphol,Amsterdam,"61,889,586[8]","52,472,188[9]",17.9,9417398.0
4,5,NaN,Spain1,Adolfo Suárez Madrid–Barajas Airport,Madrid,"60,220,984[10]","50,633,759[11]",18.9,9587225.0

In [15]:
# Drop the specified columns
columns_to_drop = ["Rank change", "Passengers 2022", "Change %", "Change People"]
airports_table = airports_table.drop(columns=columns_to_drop)

# Reset the index for a clean display
airports_table.reset_index(drop=True, inplace=True)

In [16]:
# Remove trailing numbers in 'Country' column
airports_table['Country'] = airports_table['Country'].str.replace(r'\d+$', '', regex=True)

# Remove bracketed numbers in 'Passengers 2023' column
airports_table['Passengers 2023'] = airports_table['Passengers 2023'].str.replace(r'\[\d+\]', '', regex=True)

In [17]:
# Show table as DataFrame
airports_table.head(21)

,Rank,Country,Airport,City served,Passengers 2023
0,1,United Kingdom,Heathrow Airport,London,"79,151,723"
1,2,Turkey,Istanbul Airport,Istanbul,"76,236,980"
2,3,France,Charles de Gaulle Airport,Paris,"67,421,316"
3,4,Netherlands,Amsterdam Airport Schiphol,Amsterdam,"61,889,586"
4,5,Spain,Adolfo Suárez Madrid–Barajas Airport,Madrid,"60,220,984"
5,6,Germany,Frankfurt am Main Airport,Frankfurt,"59,359,539"
6,7,Spain,Josep Tarradellas Barcelona–El Prat Airport,Barcelona,"49,909,544"
7,8,United Kingdom,Gatwick Airport,London,"40,897,656"
8,9,Italy,Leonardo da Vinci–Fiumicino Airport,Rome,"40,545,240"
9,10,Germany,Munich Airport,Munich,"37,037,070"
10,11,Russia,Sheremetyevo International Airport,Moscow,"36,600,000"
11,12,Portugal,Lisbon Airport,Lisbon,"33,649,000"
12,13,Ireland,Dublin Airport,Dublin,"33,522,493"
13,14,France,Orly Airport,Paris,"32,294,167"
14,15,Spain,Palma de Mallorca Airport,Palma de Mallorca,"31,105,987"
15,16,Austria,Vienna International Airport,Vienna,"29,533,186"
16,17,Switzerland,Zurich Airport,Zürich,"28,885,506"
17,18,Greece,Athens International Airport,Athens,"28,174,150"
18,19,United Kingdom,Manchester Airport,Manchester,"28,108,238"
19,20,United Kingdom,Stansted Airport,London,"27,965,262"
20,21,Denmark,Copenhagen Airport,Copenhagen,"26,765,393"

In [18]:
# Save table as csv
# airports_table.to_csv("busiest_airports_in_europe.csv", index=False)